@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    background: hsl(225, 100%, 94%) url("../images/pattern-background-desktop.svg") no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-top: 15%;
}
 
.section-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 360px;
    height: 600px;
    padding: 0 2rem;
}

.card-style {
    border-radius: 1rem;
    background:hsl(225, 100%, 98%) url("../images/illustration-hero.svg") no-repeat;
    background-size: contain;
}

.card-description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15rem;
}

.summary-header {
    color:hsl(223, 47%, 23%);
    font-weight: 700;
    font-size: 1.2rem;
}

.summary-description {
    color: #999999;
    text-align: center;
    padding: 1rem;
}

.summary-price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 1rem;
}

.summary-price .price-style {
    background-color: hsl(225, 100%, 94%);

}
.summary-plan .plan {
    color: hsl(223, 47%, 23%);
    font-weight: bold;
}


.summary-plan .price {
    color: #999999;
}

.summary-price .btn-change {
    font-size: 13px;
    text-decoration: underline;
    font-weight: bold;
}
.summary-price .btn-change:hover {
    color: hsl(223, 47%, 23%);
    text-decoration: none;
}

.btn {
    width: 100%;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}

.payment-style {
    background-color: hsl(245, 75%, 52%);
    color: #ffffff;
    border-radius: 0.7rem;
    font-weight: bold;
    box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
}

.cancel-style {
    color: #999999;
    font-weight: bold;
    font-size: 0.9rem;
}
.cancel-style:hover {
    color:hsl(223, 47%, 23%);
}
.attribution {
    padding: 1.4rem;
}

@media (max-width: 600px) {
    
    .section-card  {
        width: 320px;
    }
    .attribution {
        text-align: center;
    }
}